**1. Python program showing single inheritance in which two subclasses are derived from single base class -**

In [3]:
class Bank:
    cash = 1000000
    def available_cash(self):
        print("Cash available in is",self.cash)

class MahaBank (Bank):
    pass

class StateBank (Bank):
    cash = 2000000
    def available_cash(self):
        print("Total cash available is",self.cash + Bank.cash)

a = Bank()
a.available_cash()
b = MahaBank()
b.available_cash()
c = StateBank()
c.available_cash()

Cash available in is 1000000
Cash available in is 1000000
Total cash available is 3000000

**2. Python program to implement multiple inheritance using two base classes -**

In [4]:
class Father:
    def height(self):
        print('Height is 6 foot')

class Mother:
    def color(self):
        print('Color is blue')

class Child (Father, Mother):
    pass

c = Child()
print("Child's inherited properties :")
c.height()
c.color()

Child's inherited properties :
Height is 6 foot
Color is blue

**3. Create class employee and subclasses developer and manager using inheritance.**

In [17]:
class Employee:
    increment_salary = 1.05
    def __init__(self,emp_name,id):
        self.emp_name=emp_name
        self.id=id
    def getInfo(self):
        print('\nName :',self.emp_name)
        print('Id :',self.id)
    def new_pay(self,current_pay):
        print('New salary will be $',current_pay * self.increment_salary)

class Developer (Employee):
    lang = list()
    def getLang(self,l1,l2,l3):
        self.lang.append(l1)
        self.lang.append(l2)
        self.lang.append(l3)
        print("Knows",self.lang)

class Manager (Employee):
    def getEmployees(self,num):
        print("manages",num,'employees')

emp1 = Employee('Devadatta',50)
emp1.getInfo()
emp1.new_pay(80000)
emp2 = Developer('Sumit',52)
emp2.getInfo()
emp2.new_pay(50000)
emp2.getLang('C','Java','')
emp2 = Manager('Vansh',52)
emp2.getInfo()
emp2.new_pay(70000)
emp2.getEmployees(5)

Name : Devadatta
Id : 50
New salary will be $ 84000.0

Name : Sumit
Id : 52
New salary will be $ 52500.0
Knows ['C', 'Java', '']

Name : Vansh
Id : 52
New salary will be $ 73500.0
manages 5 employees